.bubble {
    --r: 25px; /* the radius */
    --t: 30px; /* the size of the tail */
    
    max-width: 700px;
    width: fit-content;
    padding: calc(2*var(--r)/3);
    
  }
  .left {
    --_d: 0%;
    border-left: var(--t) solid #0000;
    margin-right: var(--t);
    place-self: start;
    color: #fff;
    -webkit-mask: 
    radial-gradient(var(--t) at var(--_d) 0,#0000 98%,#000 102%) 
      var(--_d) 100%/calc(100% - var(--r)) var(--t) no-repeat,
    conic-gradient(at var(--r) var(--r),#000 75%,#0000 0) 
      calc(var(--r)/-2) calc(var(--r)/-2) padding-box, 
    radial-gradient(50% 50%,#000 98%,#0000 101%) 
      0 0/var(--r) var(--r) space padding-box;
      background: linear-gradient(135deg,#00607F,#1384C5) border-box;
  }
  .right {
    --_d: 100%;
    border-right: var(--t) solid #0000;
    margin-left: var(--t);
    place-self: end;
    color: #000000;
    -webkit-mask: 
    radial-gradient(var(--t) at var(--_d) 0,#0000 98%,#000 102%) 
      var(--_d) 100%/calc(100% - var(--r)) var(--t) no-repeat,
    conic-gradient(at var(--r) var(--r),#000 75%,#0000 0) 
      calc(var(--r)/-2) calc(var(--r)/-2) padding-box, 
    radial-gradient(50% 50%,#000 98%,#0000 101%) 
      0 0/var(--r) var(--r) space padding-box; 
    background: linear-gradient(135deg,#005f7f6c,#1384c578) border-box;;
  }
  
  
  @import url('https://fonts.googleapis.com/css?family=Lato');

* {
	box-sizing: border-box;
}

.chat-container {
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 25px;
	box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.7);
	overflow: hidden;
	padding: 15px;
	position: relative;
	width: 320px;
	max-width: 100%;
}

.chat {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.message {
	background-color: rgba(255, 255, 255, 0.9);
	border-radius: 50px;
	box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.5);
	position: relative;
	margin-bottom: 30px;
    width: fit-content;
    max-width: 75%;
    text-align: left;
}

.message.left {
	padding: 15px 20px 15px 70px;
}

.message.right {
	align-self: flex-end;
	padding: 15px 70px 15px 20px;
}

.logo {
	border-radius: 50%;
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.7);
	object-fit: cover;
	position: absolute;
	left: 10px;
	top: -10px;
	width: 50px;
	height: 50px;
}

.message.right .logo {
	left: auto;
	right: 10px;
}

.message p {
	margin: 0;
}

.text_input {
	font-size: 16px;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 10px 15px;
	width: 100%;
}


/* CSS */
.button-5 {
  align-items: center;
  background-clip: padding-box;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-5:hover,
.button-5:focus {
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-5:hover {
  transform: translateY(-1px);
}

.button-5:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}